/* WelcomeForm.css */

.WelcomeForm {
    max-width: 400px;
    margin: auto; /* Добавляем этот стиль для центрирования по горизонтали */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .WelcomeForm-title {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .WelcomeForm-link {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .WelcomeForm-link:hover {
    background-color: #e08e00; 
  }
  